html{
    margin:0;
    padding: 0;
}

body
{
    max-width: 1000px;
    margin: 0 auto;
}

/* Irina */

/* Anoj */
.welcome-text-div {
    text-align: center;
    padding: 2rem 0;
}

.card-content {
   padding: 3rem;
}

.card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 312px;
}

.card-item:hover {
    transition: 0.5s;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    cursor: pointer;
}

.card-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

/* Bashar */

/* Abduelaziz */

/* Christoph */
