html{
    margin:0;
    padding: 0;
}

body
{
    max-width: 1000px;
    margin: 0 auto;
}

/* Irina */

/* Anoj */
.welcome-text-div {
    text-align: center;
    padding: 2rem 0;
}

.card-content {
   background-color: beige;
   padding: 3rem;
}

.card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 312px;
    background-color: aqua;
}

.card-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    background-color: blue;
}

/* Bashar */

/* Abduelaziz */

/* Christoph */
